@model IEnumerable<SMStudent.Database.TeacherFeedbackTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Feedback
        </th>
        <th>
            Active
        </th>

        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Teacher.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comments)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
