@model IEnumerable<SMStudent.Database.StudentAttendanceTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DivisionTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DivisionTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
