@model IEnumerable<SMStudent.Database.SubjectTable>

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="float-md-right">
    @Html.ActionLink("Add New Subject", "Create", new { id = Session["ID"] }, new { @class = "btn btn-primary" })
</div>
<br />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Subject List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Subject Name
                                </th>
                                <th>
                                    Class Name
                                </th>
                                <th>
                                    Group Name
                                </th>
                                <th>
                                    Last Updated
                                </th>
                                <th>
                                    Create By
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassTable.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DivisionTable.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SessionTable.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EditDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserTable.FullName)
                                    </td>
                                    <td class="btn-group">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID },new { @class="btn btn-primary"}) 
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) 
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }

                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

